<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="6" thread-count="6" name="dockerprograms" parallel="methods">

        <parameter name="browser" value="chrome"></parameter>

        <classes>
            <class name="com.pan.packs.dockerprograms.SetupDockerGrid"></class>
            <class name="com.pan.packs.dockerprograms.StandaloneChrome"></class>
        </classes>
    </test>
</suite>